
{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Budget
{% endblock title %}

{% block body_class %}
    class="budget-page"
{% endblock body_class %}

{% block content %}
<div class="container budget-container">
    <div class="message-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <header class="budget-head mt-2">
        <div class="container text-center ">
            <h1 class="display-4 ">Manage Your Finances</h1>
            <p class="lead">Efficiently track and control your finances with ease.</p>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="row justify-content-center">
                    <div class="col-md-8 mt-3 ">
                        <div class="transaction-container shadow">
                            <h2>Create Transaction</h2>
                            <hr>
                            <form method="post" id="transactionForm">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field|as_crispy_field }}
                                        <div class="text-danger form-error form-error-{{ field.name }}"></div>
                                    </div>
                                {% endfor %}
                                <button class="btn btn-custom" type="submit">Add transaction</button>
                            </form>
                            <div class="totals-container">
                                <!-- if theres transactions, display the totals -->
                                    <hr>
                                    <p>Total Income: <strong class="income-total">{{ income_total }}</strong></p>
                                    <p>Total Expenses: <strong class="expense-total">{{ expense_total }}</strong></p>
                                    <p>Total Investments: <strong class="investment-total">{{ investment_total }}</strong></p>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 column d-none d-md-flex"> 
                <img src="{% static 'budget/images/budget2.svg' %}" alt="budget svg" class="budget-svg" height="350px" width="auto">
            </div>
        </div>
    </main>

</div>
 <!-- Budget JS -->
 <script src="{% static 'budget/js/budget.js' %}"></script>

{% endblock content %}
