
{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Budget{% endblock title %}

{% block content %}
<div class="container budget-container">
    <header class="budget-head mt-2">
        <div class="container text-center ">
            <h1 class="display-4 ">Manage Your Finances</h1>
            <p>Input your incomes, expenses and investments</p>
        </div>
    </header>

    <main>
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3 ">
                <div class="inc-container shadow">
                    <h2>Create Transaction</h2>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn btn-custom" type="submit">Add transaction</button>
                    </form>
                    <hr>
                    <h5>Total Income: {{ income_total }}</h5>
                    <h5>Total Expenses: {{ expense_total }}</h5>
                    <h5>Total Investments: {{ investment_total }}</h5>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3 badge-container">
                {% for transaction in transactions %}
                    
                    {% if transaction.transaction_type == 'income' %}
                        <span class="badge inc-badge d-flex p-2 align-items-center rounded-pill" style="background-image: linear-gradient(to right, #28a745, #218838);">
                            <span class="px-1">{{transaction.transaction_name}} - {{ transaction.transaction_amount}}</span>
                            <form  method="post" action="{% url 'delete_transaction' transaction.id %}">
                                {% csrf_token %}
                                <button style="background-color: transparent; border: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free-->
                                        <path fill="#ffffff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                                    </svg>
                                </button>
                            </form>
                        </span>
                    {% elif transaction.transaction_type == 'expense' %}
                     
                        <span class="badge inc-badge d-flex p-2 align-items-center rounded-pill" style="background-image: linear-gradient(to right, #dc3545, #ff073a);">
                            <span class="px-1">{{transaction.transaction_name}} - {{ transaction.transaction_amount}}</span>
                            <form  method="post" action="{% url 'delete_transaction' transaction.id %}">
                                {% csrf_token %}
                                <button style="background-color: transparent; border: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free-->
                                        <path fill="#ffffff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                                    </svg>
                                </button>
                            </form>
                        </span>
                    {% else %}
    
                        <span class="badge inc-badge d-flex p-2 align-items-center rounded-pill" style="background-image: linear-gradient(to right, #007bff, #6610f2);">
                            <span class="px-1">{{transaction.transaction_name}} - {{ transaction.transaction_amount}}</span>
                            <form  method="post" action="{% url 'delete_transaction' transaction.id %}">
                                {% csrf_token %}
                                <button style="background-color: transparent; border: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free-->
                                        <path fill="#ffffff" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                                    </svg>
                                </button>
                            </form>
                        </span>
                    {% endif %}
                    
                    
                    
                {% endfor %}
           
            </div>
        </div>
    </main>
</div>



{% endblock content %}
