.password-reset-container{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* prevent dropdown from going off-screen */
@media (min-width: 992px) {
    .dropdown-menu.keep-inside {
      right: 0;
      left: auto;
    }
  }

  /* Headers */
h1, h2{
  font-family: 'Poppins-SemiBold', sans-serif;
}
h3, h4, h5, h6 {
  font-family: 'Poppins-Medium', sans-serif;
  /* Use fallback sans-serif in case BentonSans isn't available */
}

body {
  font-family: 'Poppins-Regular', sans-serif;

  
  line-height: var(--bs-body-line-height);
}
strong{
  font-family: 'Poppins-SemiBold', sans-serif;
}


input:focus {
    border-color: #28a745 !important; /* Change to your preferred shade of green */
    box-shadow: 0 0 0 0.2rem rgba(0, 166, 126, 0.25) !important; /* Optional: Add a slight shadow effect */
}


/*------- CSS for home page --------*/

.hero-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}


.btn {
    margin-top: 20px;
    padding: 10px 20px;
    /* font-size: 15px; */
    border-radius: 10px;
    transition: all 0.3s ease;
}

/*-------------------------------------*/

/*------------- header -----------------*/

.navbar-nav a {
    position: relative;
    transition: color 0.3s ease-in-out;
  }

  .navbar-nav a:hover {
    color: #28a745; /* Change the color to your desired hover color */
    font-weight: 500;
  }

  /* Add a subtle underline animation on hover */
  .navbar-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #28a745; /* Change the color to your desired hover color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .navbar-nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .navbar.hidden {
    top: -100px; /* Adjust this value to fully hide the navbar */
  }
  

  /*-------------------------------------*/


.header-container{
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

