/* Variables */
:root {
    --green: #28a745;
    --red: #dc3545;
    --blue: #007bff;
  }
  
  /* Media Queries */
  @media (min-width: 992px) {
    .custom-container {
      width: 500px;
      margin: 0 auto;
    }
  }
  

  /* Select Styling */
  body {

    background-color: #ffffff;
    background-image: url('../images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    fallback: #f7f7f7;
  }


  select:focus{
    border-color: var(--green) !important; 
    box-shadow: 0 0 0 0.2rem rgba(0, 166, 126, 0.25) !important; 
  }


  /* Containers */
  .budget-container {
    padding: 20px;
  }
  
  .transaction-container {
    padding: 30px;
    border-radius: 10px;
  }
  
  .transaction-container { background: linear-gradient(45deg, #bbe4ba, #ffffff); }
  
  .badge-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }


  /* Buttons */
  .btn-custom {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
  }
  
  .btn-custom:hover,
  .btn-custom:focus,
  .btn-custom:active {
    background-color: #218838;
    border-color: var(--green);
    color: #fff;
  }
  

  /* Typography */
  .budget-container h1,
  .budget-container h2,
  .budget-container h3,
  .budget-container h4,
  .budget-container h5 {
    font-weight: bold;
    color: #333;
  }
  
  .budget-head h1 {
    color: #333333;
  }
  

  /* Badges */
  .badge {
    display: inline-flex;
    background-image: linear-gradient(to right, var(--green), #218838);
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
  }

  .income-badge{
    background-image: linear-gradient(to right, #28a745, #218838);
  }

  .expense-badge{
    background-image: linear-gradient(to right, #dc3545, #ff073a);
  }

  .investment-badge{
    background-image: linear-gradient(to right, #007bff, #6610f2)
  }
  
  .badge-btn{
    background-color: transparent; border: none;
  }

  .legend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

  .legend-item {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
  }

  .legend-text {
      margin-right: 20px;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* You may adjust this based on your layout */
  }