{% extends '_base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block body_class %}
    dashboard-page
{% endblock body_class %}

{% block content %}
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="dashboard-card income-card">
                        <div class="card-body">
                            <i class="fas fa-money-bill fa-3x"></i> <h5 class="card-title mt-3">Income</h5>
                            <p class="card-text">$X,XXX</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card expenses-card">
                        <div class="card-body">
                            <i class="fas fa-shopping-cart fa-3x"></i> <h5 class="card-title mt-3">Expenses</h5>
                            <p class="card-text">$X,XXX</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card investments-card">
                        <div class="card-body">
                            <i class="fas fa-chart-pie fa-3x"></i> <h5 class="card-title mt-3">Investments</h5>
                            <p class="card-text">$X,XXX</p>
                        </div>
                    </div>
                </div>
            </div> <!-- closing inner row 1 -->
            <div class="row g-2">
                <div class="col-md-8">
                    <div class="mb-2 mt-0">
                        <div >
                            <select id="smallChartType">
                                <option value="line">Line Chart</option>
                                <option value="bar">Bar Chart</option>
                            </select>
                        </div>
                    </div>
                    <div class="big-chart-card">
                        <canvas id="bigChart" aria-label="bigChart" role="img"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2 mt-0">
                        <div>
                            <select id="bigChartType">
                                <option value="doughnut">Doughnut Chart</option>
                                <option value="pie">Pie Chart</option>
                            </select>
                        </div>
                    </div>
                    <div class="small-chart-card">
                        <canvas id="smallChart" aria-label="smallChart" role="img"></canvas>
                    </div>
                </div>
            </div> <!-- closing inner row 2-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-card">
                        <table class="table align-middle mb-0 bg-white table-hover table-responsive caption-top">
                            <caption><strong>List of transactions: </strong> <i>(click to edit or delete)</i> </caption>
                            <thead>
                              <tr>
                                <th>Transaction Type</th>
                                <th>Transaction Name</th>
                                <th>Transaction Amount</th>
                                <th>Future Transaction Date</th>
                              </tr>
                            </thead>
                            <tbody>
                                
                                {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.transaction_type }}</td>
                                    <td>{{ transaction.transaction_name }}</td>
                                    <td>{{ transaction.transaction_amount }}</td>
                                    <td>{{ transaction.future_transaction_date }}</td>
                                </tr>
                                {% endfor %}
                                    
                              
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
