{% extends "_base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block body_class %}
    class="home-page"
{% endblock body_class %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="bg-white min-vh-100 d-flex align-items-center">
    <div class="container-lg py-8">
        <div class="row gap-8 justify-content-center">
            <div class="col-lg-7 text-center">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Empower Your Finances with Flow</h1>
                <p class="mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                    Take control of your financial journey with Flow, the premier all-in-one budget finance app. Seamlessly manage your incomes, track expenses, and optimize investments within a single, user-friendly platform. Gain insights into your financial health, enabling informed decisions and confident pursuit of your monetary goals.
                </p>
                
                {% if not user.is_authenticated %}
                    <a href="{% url 'signup' %}" class="btn btn-primary mr-3">
                        Sign Up
                    </a>
                    <a href="{% url 'login' %}" class="btn btn-outline-dark">
                    Log In
                    </a>
                {% else %}
                <a href="{% url 'budget' %}" class="btn btn-primary mr-3">
                    Budget
                </a>
                <a href="{% url 'dashboard' %}" class="btn btn-outline-dark">
                    Dashboard
                </a>
                {% endif %}
            </div>
            <div class="col-lg-5 d-none d-lg-flex">
                <img src="{% static 'images/mac_mockup.png' %}" alt="mockup" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{% endblock content %}
