/* body */
.dashboard-page {
    background: #f6f8fa;
    padding: 10px;
}

/* Sidebar */
.sidebar {
    border-radius: 20px;
    height: 100vh;
    position: sticky;
}

/* Cards */
.dashboard-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: sticky;
    margin-bottom: 5px;
    top: 0;
    z-index: 1;
}

.dashboard-card h5.card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.dashboard-card p.card-text {
    font-size: 14px;
    color: #666;
}

.big-chart-card,
.small-chart-card,
.table-card{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    position: sticky;
    z-index: 1;
}
